
<div class="center jumbotron">
	<h1>Welcome To OLX Home Page</h1>
	<h1>Here You Can Buying & Selling Any Thing You Want</h1>
	<%= link_to'Sign Up Now', signup_path , class: 'btn btn-primary btn-lg btn-xlarge'%>
</div>